.clients-container {
  width: 100%;
  background-color: rgb(236, 255, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 60px 0px;
}

.clients-content {
  max-width: 1200px;
  min-width: 300px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-content h2 {
  margin: 0;
  padding: 50px;
  font-size: 35px;
  text-align: center;
}

.clients {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 20px 20px;
}

.client img {
  border-radius: 50%;
  transition: 0.5s ease;
  border: 2px solid transparent;
}

.client img:hover {
  transform: scale(1.1);
  border: 2px solid rgb(161, 0, 105);
}

.client-opinion {
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  max-height: 250px;
  min-height: 100px;
  height: 100%;
}

.client h3 {
  color: rgb(161, 0, 105);
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .clients-content h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 950px) {
  .clients-content h2 {
    font-size: 23px;
  }
}

@media screen and (max-width: 900px) {
  .client:nth-child(3) {
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
  }

  .clients-content h2 {
    padding-bottom: 30px;
  }

  .client img {
    width: 80px;
  }

  .client-opinion {
    min-height: 50px;
  }

  .client-opinion p {
    font-size: 13px;
  }

  .client h3 {
    font-size: 15px;
  }

  .clients-container {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 587px) {
  .client:nth-child(3) {
    grid-column: 1 / -1;
    justify-self: center;
    width: 70%;
  }

  .clients-content h2 {
    font-size: 20px;
    padding: 30px;
  }

  .clients {
    justify-items: center;
  }

  .client {
    width: 70%;
  }
}
