.fresh-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(236, 255, 246);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fresh-main {
  padding-top: 50px;
  width: 100%;
  height: 87vh;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.fresh-content {
  width: 40%;
  word-wrap: break-word;
  padding-left: 20px;
}

.fresh-content h1 {
  margin: 0;
  padding: 0;
}

.fresh-content p {
  margin: 0;
  padding: 0;
}

.fresh-content hr {
  background-color: black;
  border: none;
  height: 2px;
  margin: 20px 0;
  width: 90%;
}

.fresh-content button {
  border-radius: 0;
  font-size: 13px;
  padding: 8px 30px;
  margin-top: 25px;
  font-weight: bold;
}

.fresh-image {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.fresh-image img {
  width: 370px;
  transition: 2s ease;
  z-index: 1;
}

.fresh-image:hover img {
  transform: scale(1.05);
}

.fresh-brands {
  background-color: rgb(0, 38, 33);
  width: 80%;
  height: 13vh;
  display: flex;
  align-items: center;
}

.fresh-brands ul {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.fresh-brands ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

.fresh-brands ul li img {
  width: 120px;
  filter: contrast(100%);
  transition: filter 0.3s ease;
}

.fresh-brands ul li img:hover {
  filter: contrast(0%);
}

@media screen and (max-width: 1000px) {
  .fresh-image img {
    width: 280px;
  }
  .fresh-main {
    gap: 50px;
  }
  .fresh-content h1 {
    font-size: 32px;
  }
  .fresh-content p {
    font-size: 14px;
  }
  .fresh-content button {
    font-size: 11px;
  }
  .fresh-brands ul li img {
    width: 90px;
  }
}

@media screen and (max-width: 700px) {
  .fresh-main {
    flex-direction: column;
  }
  .fresh-content {
    text-align: center;
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fresh-image img {
    width: 190px;
  }
  .fresh-image {
    justify-content: center;
  }
  .fresh-content hr {
    width: 70%;
  }
  .fresh-content button {
    font-size: 10px;
  }
  .fresh-main {
    gap: 50px;
  }
  .fresh-content h1 {
    font-size: 25px;
  }
  .fresh-content p {
    font-size: 12px;
  }
  .fresh-brands ul li img {
    width: 70px;
  }
  .fresh-brands {
    height: 10vh;
    margin-top: 3vh;
  }
}

@media screen and (max-width: 500px) {
  .fresh-brands {
    height: 8vh;
    margin-top: 5vh;
  }
  .fresh-brands ul li img {
    width: 50px;
  }
  .fresh-content h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .fresh-brands {
    height: 7vh;
    margin-top: 6vh;
  }
  .fresh-brands ul li img {
    width: 40px;
  }
}
