.presentations-main-container {
  width: 100%;
  background-color: rgb(236, 255, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
}

.presentations-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.presentations-header {
  width: 80%;
  text-align: center;
}

.presentations-main {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
  gap: 20px;
}

.presentations-item {
  width: 230px;
  transition: transform 0.5s ease;
}

.presentations-item:hover {
  transform: scale(1.05);
}

.presentations-header h2 {
  font-size: 32px;
  padding: 10px 0;
  margin: 0;
}

.presentations-item img {
  width: 50px;
}

@media screen and (max-width: 1024px) {
  .presentations-item:nth-child(3) {
    margin-left: 100%;
  }

  .presentations-header {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .presentations-header h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 900px) {
  .presentations-header p {
    font-size: 13px;
  }

  .presentations-item p {
    font-size: 12px;
  }
}

@media screen and (max-width: 674px) {
  .presentations-item {
    padding: 5px 0px;
    width: 80%;
  }

  .presentations-item:nth-child(3) {
    margin-left: 0;
  }

  .presentations-item img {
    width: 45px;
  }
}

@media screen and (max-width: 500px) {
  .presentations-header h2 {
    font-size: 23px;
  }

  .presentations-header p {
    font-size: 12px;
  }

  .presentations-item p {
    font-size: 11px;
  }

  .presentations-item img {
    width: 40px;
  }

  .presentations-main-container {
    padding-bottom: 30px;
  }
}
