.unleash-main-container {
  width: 100%;
  background-color: rgb(236, 255, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
}

.unleash-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unleash-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 94px 0;
}

.unleash-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.unleash-content h1 {
  margin: 20px 0;
  font-size: 48px;
}

.unleash-content hr {
  width: 70%;
  margin: 0;
}

.unleash-content button {
  border-radius: 0;
  font-size: 12px;
  width: 120px;
  font-weight: bold;
}

.unleash-image img {
  width: 320px;
  transition: transform 0.5s ease;
}

.unleash-image img:hover {
  transform: scale(1.05);
}

.unleash-brands {
  width: 100%;
  display: flex;
  background-color: rgb(0, 38, 33);
  align-items: center;
  justify-content: space-evenly;
  padding: 12px 0;
}

.unleash-brands ul li img {
  width: 130px;
  filter: contrast(100%);
  transition: filter 0.3s ease;
}

.unleash-brands ul li img:hover {
  filter: contrast(0%);
}

.unleash-brands ul {
  padding-left: 0;
}

.unleash-brands ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .unleash-image img {
    width: 280px;
  }

  .unleash-content h1 {
    font-size: 40px;
  }

  .unleash-content p {
    font-size: 15px;
  }

  .unleash-brands ul li img {
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .unleash-image img {
    width: 250px;
  }

  .unleash-content h1 {
    font-size: 35px;
  }

  .unleash-main {
    padding-bottom: 120px;
  }

  .unleash-content p {
    font-size: 13px;
  }

  .unleash-content button {
    width: 100px;
    font-size: 11px;
  }

  .unleash-brands {
    padding: 5px 0;
  }

  .unleash-brands ul li img {
    width: 80px;
  }
}

@media screen and (max-width: 700px) {
  .unleash-main {
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .unleash-content {
    align-items: center;
    width: 90%;
    padding-bottom: 60px;
  }

  .unleash-content h1 {
    font-size: 30px;
  }

  .unleash-brands {
    padding: 3px 0;
  }

  .unleash-brands ul li img {
    width: 60px;
  }
}

@media screen and (max-width: 500px) {
  .unleash-main {
    padding-top: 10px;
    padding-bottom: 60px;
  }

  .unleash-content {
    gap: 7px;
  }

  .unleash-content h1 {
    font-size: 25px;
  }

  .unleash-image img {
    width: 230px;
  }

  .unleash-brands {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0;
  }

  .unleash-brands ul li img {
    width: 70px;
  }

  .unleash-content p {
    font-size: 12px;
  }

  .unleash-brands ul {
    margin: 10px 0;
  }

  .unleash-brands ul:nth-child(5) {
    margin-left: 80%;
  }

  .unleash-brands ul:nth-child(4) {
    margin-left: 60%;
  }
}

@media screen and (max-width: 400px) {
  .unleash-brands ul li img {
    width: 60px;
  }
}
