.about-container {
  width: 100%;
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(238, 255, 247));
}

.about-main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.about-main {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  padding: 60px 0;
  justify-content: space-between;
  grid-area: 100px;
}

.about-main img {
  transition: transform 0.5s ease;
}

.about-main img:hover {
  transform: scale(1.03);
}

.about-main-text {
  width: 53%;
}

.about-main-text p {
  font-size: 15px;
}
